In [1]:
import pandas as pd
import math

# Data cleaning, trying to find null values in Departure time

In [3]:
df = pd.read_csv('Dataset/Combined_Flights_2021.csv')
df

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2021-03-03,SkyWest Airlines Inc.,SGU,PHX,False,False,724,714.0,0.0,-10.0,...,724.0,813.0,5.0,843,-25.0,0.0,-2.0,0800-0859,2,0.0
1,2021-03-03,SkyWest Airlines Inc.,PHX,SGU,False,False,922,917.0,0.0,-5.0,...,940.0,1028.0,3.0,1040,-9.0,0.0,-1.0,1000-1059,2,0.0
2,2021-03-03,SkyWest Airlines Inc.,MHT,ORD,False,False,1330,1321.0,0.0,-9.0,...,1336.0,1445.0,16.0,1530,-29.0,0.0,-2.0,1500-1559,4,0.0
3,2021-03-03,SkyWest Airlines Inc.,DFW,TRI,False,False,1645,1636.0,0.0,-9.0,...,1703.0,1955.0,7.0,2010,-8.0,0.0,-1.0,2000-2059,4,0.0
4,2021-03-03,SkyWest Airlines Inc.,PHX,BFL,False,False,1844,1838.0,0.0,-6.0,...,1851.0,1900.0,3.0,1925,-22.0,0.0,-2.0,1900-1959,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6311866,2021-06-01,Southwest Airlines Co.,BNA,MDW,False,False,1255,1301.0,6.0,6.0,...,1310.0,1416.0,5.0,1430,-9.0,0.0,-1.0,1400-1459,2,0.0
6311867,2021-06-01,Southwest Airlines Co.,BNA,MDW,False,False,730,727.0,0.0,-3.0,...,740.0,842.0,3.0,900,-15.0,0.0,-1.0,0900-0959,2,0.0
6311868,2021-06-01,Southwest Airlines Co.,BNA,MIA,False,False,800,757.0,0.0,-3.0,...,811.0,1056.0,5.0,1110,-9.0,0.0,-1.0,1100-1159,4,0.0
6311869,2021-06-01,Southwest Airlines Co.,BNA,MIA,False,False,1300,1252.0,0.0,-8.0,...,1300.0,1554.0,5.0,1620,-21.0,0.0,-2.0,1600-1659,4,0.0
6311870,2021-06-01,Southwest Airlines Co.,BNA,MKE,False,False,1925,1948.0,23.0,23.0,...,2000.0,2111.0,5.0,2055,21.0,1.0,1.0,2000-2059,2,0.0

In [4]:
df = df[['FlightDate', 'DepTime']]
df

         FlightDate  DepTime
0        2021-03-03    714.0
1        2021-03-03    917.0
2        2021-03-03   1321.0
3        2021-03-03   1636.0
4        2021-03-03   1838.0
...             ...      ...
6311866  2021-06-01   1301.0
6311867  2021-06-01    727.0
6311868  2021-06-01    757.0
6311869  2021-06-01   1252.0
6311870  2021-06-01   1948.0

[6311871 rows x 2 columns]

In [5]:
print(df[df['DepTime'].isnull()])

         FlightDate  DepTime
93       2021-03-18      NaN
94       2021-03-18      NaN
95       2021-03-18      NaN
98       2021-03-18      NaN
99       2021-03-18      NaN
...             ...      ...
6310286  2021-06-03      NaN
6310305  2021-06-03      NaN
6310313  2021-06-03      NaN
6310315  2021-06-03      NaN
6310850  2021-06-02      NaN

[108325 rows x 2 columns]